/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: grey;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


body {
    font-family: Arial, sans-serif;
    background-color: black;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.logo img, .footer-logo img {
    width: auto; /* Adjust width for footer logo if necessary */
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 75px;
}

nav ul li a, .footer-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.search-bar {
    display: flex;
    gap: 10px;
}

.search-bar input[type="text"] {
    padding: 5px;
    font-size: 16px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.search-bar button:hover {
    background-color: #0056b3;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1000;
    background-color: grey;
}

.footer-links {
    display: flex;
    margin: 10px;
    gap: 40px;
}


/* Start of Carousel */
.carousel {
    position: relative;
    margin: auto;
    width: 80%;
    overflow: hidden;
    height: 70vh; 
}
.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}
.card {
    min-width: 20%;
    margin: 100px 10px;
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card.enlarged {
    transform: scale(1.5);
}
.card img {
    width: auto;
    height: 35vh; /* Adjust based on your design */
    object-fit: cover; /* Ensures the image covers the area without distortion */
}
.dots {
    position: absolute;
    bottom: 10px; /* Position from the bottom */
    left: 50%; /* Position horizontally at 50% of the carousel's width */
    transform: translateX(-50%); 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.dot.active {
    background: #333;
}

/* End of Carousel */

/* Movie Detail Page */

.container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 50px;
    color: white;
}

.poster {
    flex: 1;
    margin-right: 20px;
}
.details {
    flex: 2;
}

.details p{
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    width: 400px;
    height: auto;
}